:root {
    --primary-color: #1E4C7A; /* Dark blue */
    --secondary-color:#FEDC56 ; /* Bright yellow */
    --accent1-color: #fdaf48fc; /* Light beige */
    --accent2-color: #f2e9e4; /* Very light beige */
    --heading-font: "Bebas Neue","serif" ;
    --heading-letter-spacing: 2px;
    --heading-font-weight: 400;
    --heading-font-style: normal;
    --text-font: "Playfair display","sans-serif";
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--text-font);
    line-height: 1.6;    
}


header {
    display: grid;
    grid-template-columns: 30% 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--accent2-color) ;

}


header nav {
    display: flex;
    justify-content: space-around;

}

header nav a {
    border: 1px solid var(--accent2-color);
    background-color: var(--primary-color);
    padding: 10px 40px; 
    text-decoration: none; 
    color: white;     
}

header img {
    justify-self: end;
}


h1 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    font-size: 3.5rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    text-align: center;
    letter-spacing: var(--heading-letter-spacing);
}

h2{
    clear: both;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    font-size: 2.5rem;
    color: var(--accent1-color);
    letter-spacing: var(--heading-letter-spacing);

}

p {
    font-family: var(--text-font);
    font-size: 1.2rem;
    color: var(--primary-color);
}


.hero {
    position: relative;
    width: 100%;
    height: 500px;/**/
    overflow: hidden;
    text-align: center;
       
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero h1 {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-5%, -35%);
    font-family: var(--heading-font);
    font-size: 4rem;
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
    color: var(--secondary-color);
    z-index: 2;
    
}

.hero article {
    position: absolute;
    bottom: 100px;
    left: 90px;
    background-color: rgba(30, 76, 122, 0.5);
    padding: 1rem;
    border-radius: 8px;
    color: var(--accent2-color);
    max-width: 100%;
    z-index: 2;
    color:var(--heading-font);
}



.hero article p{
    font-size:20px;
    line-height: 1.6;
    justify-content: center;
    color:var(--accent2-color);
}


.hero article img{
    float: right;
    margin-right: 20px;
    border-radius: 2px;
    width: 200px;
    height: 200px;

}

body{ 
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.history {
    display: grid;
    padding-bottom: 15px;
    grid-template-columns: repeat(3, 1fr); 
    place-items: center;
}


.history h2{
    grid-column: 1/4;
    font-size: 3rem;
}

.history p {
    text-align: justify;
}


.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure figcaption{
    text-align: center;
    color:var(--primary-color);
    font: var(--text-font);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 10px;
}


footer {
    clear: both;
    display: grid;
    grid-template-columns: 85% 1fr;
    place-items: center; 
    background-color: var(--accent2-color);   
}

footer nav{
    justify-content: space-around;

}

footer a{
    text-decoration: none;
    color: var(--primary-color);
}

.socialmedia{
    display: flex;
    justify-self: end;
    width: 100%;          

}
.socialmedia a{
    text-decoration: none;
}

.socialmedia img{
    width: 30px;
    height: 100%;
}


.information {
    max-width: 1200px; 
    margin: 0 auto; 
}

.information p {
    text-indent: 5rem;
    font-size: 1.8rem;
    margin: 30px 0;
    text-align: justify;
    font-weight: bold;
    
}

.contact-info {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}

.info {
    flex: 1; 
    margin-right: 40px; 

}


.map {
    flex: 0 0 400px; 
}
.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    place-items: center; 
    gap: 20px; 
}

.employee h1 {
    grid-column: 1 / -1; 
    text-align: center; 
    margin-bottom: 20px; 
}

.employee figure {
    text-align: center; 
}

.employee figcaption {
    text-align: center;
    color:var(--primary-color);
    font: var(--text-font);
    font-size: 1rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
}



form {
    width: 650px;
    margin: 25px auto;
    padding: 1rem;
    border: 1px var(--primary-color);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem 0; 
    border: 1px solid var(--primary-color); 
    padding: 1rem;
}

legend {
    font-size: 1.5em;
    color: var(--primary-color);
    padding: 0.5rem;
}

label, input, button, select, textarea {
    font-family: var(--text-font);
    font-size: 1.2em;    
    padding: 0.5rem;

}

label {
    text-align: left;
    padding-right: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}


.form-item {
    display: grid;
    align-items: center;
    margin: 0.5rem 0;
}


.column1 {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    margin: 0.5rem 0;
}


.column2 {
    display: grid;
    grid-template-columns:1fr 3fr; 
    margin: 0.5rem 0;
}

.column4 {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    margin: 0.5rem 0;
}



.radio-group {
    display: flex;
    gap: 1rem; 
    margin: 0.5rem 0; 
}


/* index page */

.columns-homep {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr;
    place-items: center; 
    margin: 25px auto;
    padding: 1rem;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.groups-discount, .return-discount {
    background-color: var(--accent2-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: none;
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    flex-grow: 1;
}
 

.columns-homep p {
    text-align: justify;
    color:var(--primary-color);
    font: var(--text-font);
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.columns-homep p::before {
    content: "\2022";
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 5px;
}




.card-contact form {
    width: 89%;
    margin: 25px auto;
    border: 1px var(--primary-color);
    padding: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #eee;
    display: grid; 
}



.card-contact legend {
    font-size: 1.5em;
    color: var(--primary-color);
    padding: 0.5rem;
}

.card-contact input[type="text"], .card-contact input[type="email"] {
   margin-left: 0;
    font-size: 0.8em;
    padding: 0.2rem 0.8rem;
    font-family: var(--text-font);
}

.card-contact a{
    text-decoration: none;
    color:var(--accent1-color);
    font: var(--text-font);
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.groups-discount a, .return-discount a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.7rem;
    padding-bottom: 10px;
}

.groups-discount .title a, .return-discount .title a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
}

.groups-discount img {
    display: block;
    width: 100%; 
    object-fit: cover;
    padding-top: 30px;
}

 .return-discount img {
    display: block;
    width: 100%; 
    object-fit: cover;
}


/* trip page*/

.rows {
    display: grid;
    grid-template-rows: auto repeat(3, 1fr); 
    gap: 15px; 
    place-items: center;
    padding: 20px;
}

.rows h2 {
    grid-row: 1 / 2; 
    font-size: 3rem;
    text-align: center;
}

.rows figure {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rows figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.rows figure:nth-child(even) {
    flex-direction: row-reverse;
}

.rows p {
    text-align: justify;
    margin: 0;
}

.rows a {
    text-align: center;
    text-decoration: none;
    color:var(--primary-color);
    font-weight: bold;
}




/*table part*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}

th, td {
    border: 1px solid var(--primary-color);
    padding: 10px;
}

thead {
    background-color:var(--primary-color);
    font-weight: bold;
}

thead th {
    color: #fff;
}


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td:last-child {
    font-weight: bold; /* Highlight the cost column */
    color: #2a9d8f;
    text-align: right; /* Align cost to the right */
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}