.callout {
	max-width: 400px;
	margin: 1rem; 
	border: 1px solid rgb(0,0,0,0.1);
	padding: 1rem;
	background-color: rgba(25, 25, 139, 0.938);
	color: white;
	
}

.callout img { 
	float: right; 
	margin: 0 0 2rem 2rem; 
	border: 1px solid black;
    padding: 2px ;
	background-color: antiquewhite;
	width: 120px;
	height: 150px;

}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted white;
	padding-top: 0px;
	text-align: right;
	size: 2px;
	font-size: smaller;
	
} 